<a href="" class="prev"><span class="material-icons arrows">keyboard_arrow_left</span></a>
<a href="" class="next"><span class="material-icons arrows">keyboard_arrow_right</span></a>

<div class="exercisesPageContainer">
    {{#with theme}}
        <div class="title">
            <div class="themeName">{{number}}. {{title}}</div>
            <a href="" class="theoryLink">Сначала изучите теорию</a>
            {{>semaphore lang=lang id=id}}
        </div>
    {{/with}}

    <div class="exercises">
        {{#each exercises}}
            <div class="exercise" id="{{_id}}">
                <button type="button" class="collapsible">{{number}}. {{task}}</button>
                <div class="editor">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script async src="/scripts/exercises.js"></script>