<div class="title">Основы</div>
<div class="themesContainer">
    {{#each themesList}}
        <div class="themeCard">
            <div class="number">{{number}}</div>
            <div class="name">{{title}}</div>
            <div class="interactiveButtonsContainer">
                <div class="theory"><a href="{{../lang}}/{{id}}/theory">Теория</a></div>
                <div class="semaphore">
                    <a href="{{../lang}}/{{id}}/easy">Легкие</a>
                    <a href="{{../lang}}/{{id}}/middle">Средние</a>
                    <a href="{{../lang}}/{{id}}/hard">Сложные</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>