<link rel="stylesheet" href="/styles/achievement.css">
<div class="achievements">
    <div class="achievementsGrid">
        {{#each achievements}}
            <img id="{{_id}}" src="/achievement/file/{{previewFileId}}" alt="ачивка">
        {{/each}}
    </div>
    <div class="achievementFull" id="fullAchievement">
        {{#if choosenAchievement}}
            <h1>{{choosenAchievement.name}}</h1>
            <img src="/achievement/file/{{choosenAchievement.fileId}}" alt="изображение ачивки">
            <p>{{choosenAchievement.description}}</p>
        {{/if}}
    </div>
</div>
<script src="/scripts/src/achievements.js"></script>