<div class="semaphore">
    <a href="/{{language}}/exercises/{{_id}}/easy">Легкие</a>
    <a href="/{{language}}/exercises/{{_id}}/middle">Средние</a>
    <a href="/{{language}}/exercises/{{_id}}/hard">Сложные</a>
</div>