<div class="semaphore">
    <a href="/{{lang}}/exercises/{{id}}/easy">Легкие</a>
    <a href="/{{lang}}/exercises/{{id}}/middle">Средние</a>
    <a href="/{{lang}}/exercises/{{id}}/hard">Сложные</a>
</div>